<div class="container">
    <div class="row">
        <h1 class="fs-2 text-center border-color ">Presupuestos</h1>
            <div class="d-flex align-items-center">
                <div class="table-responsive col-9">
                    <table class="table table-striped table-light table-hover mt-5" id="label">
                        <thead>
                            <tr>
                                <th>Paciente</th>
                                <th>Importe</th>
                                <th>Fecha</th>
                                <th>Fecha de vencimiento</th>
                                <th>Tratamiento</th>
                                <th>Descripcion</th>
                                {{#if esOdontologo}}
                                <th></th>
                                {{/if}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each treatments}}
                            <tr>
                                <td>{{paciente}}</td>
                                <td>{{importe}}</td>
                                <td>{{fecha}}</td>
                                <td>{{fecha_vencimiento}}</td>
                                <td>{{tratamiento}}</td>
                                <td>{{descripcion}}</td>
                                
                                {{#if ../esOdontologo}}
                                <td>
                                    
                                    <div class="styles-button">
                                        <form action="/treatments/delete/{{_id}}?_method=DELETE" method="POST">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button class="btn btn-outline-danger btn-sm" type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="text-dark" width="16" height="25"
                                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                    <path fill-rule="evenodd"
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                    
                                    <div class="styles-button">
                                        <!--<a href="/treatments/edit/{{_id}}" class="btn btn-primary btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal"></a>-->
                                        <a href="/treatments/edit/{{_id}}" class="btn btn-outline-success btn-sm ">
                                            <svg class="text-dark" xmlns="http://www.w3.org/2000/svg" width="16" height="25"
                                                fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path
                                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd"
                                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                                {{/if}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    
                    <!-- Modal Agregar tratamiento -->
                    
                    <button type="button" class="btn style-button" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                        Nuevo Presupuesto
                    </button>
                    
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" aria-labelledby="Title" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content modal-styles">
                                <div class="col-md-12 mx-auto">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Nuevo Presupuesto</h3>
                                        </div>

                                        <div class="card-body">
                                            <form action="" "method=POST">
                                                <div class="form-group">
                                                    <textarea name="paciente" class="form-control" placeholder="Paciente" style="margin-top: 3%;"></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <textarea name="importe" class="form-control" placeholder="importe..." style="margin-top: 3%;"></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <textarea name="fecha" class="form-control" placeholder="fecha" style="margin-top: 3%;"></textarea>
                                                </div>         

                                                <div class="form-group">
                                                    <textarea name="fecha vencimiento" class="form-control" placeholder="fecha de vencimiento" style="margin-top: 3%;"></textarea>
                                                </div>
                                                <div class="form-group mt-4">
                                                        <select name="caraDiente" placeholder="tratamiento">
                                                            <option >Blanquiamiento</option>
                                                            <option >Extraccion</option>
                                                            <option >Limpieza</option>
                                                            <option >Conducto</option>
                                                        </select>
                                                </div> 
                                                
                                                <div class="form-group">
                                                        <textarea name="Descripcion" class="form-control"placeholder="Descripcion..." style="margin-top: 3%;"></textarea>
                                                </div>
                                                <div class="form-group" style="float: right;">
                                                    <button class="btn btn-primary btn-block" type="submit" style="margin-top: 3%;">
                                                        Guardar
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-top: 3%;">
                                                        Cancelar
                                                    </button>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
