<div class="row"> 
    <div class="pb-3 border-color">
        <h1 class="fs-2 text-center ">Tratamientos</h1>
    </div>
    <div class="d-flex align-items-center">
        <div class="table-responsive col-9 table-Color">
            <table class="table table-primary border-white text-center">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Tratamiento</th>
                        <th>DNI Paciente</th>
                        <th>Fecha</th>
                        <th>Cara</th>
                        <th>Importe</th>
                        <th>Matricula del Odontólogo</th>
                        <th>Observaciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each treatments}}
                    <tr>
                        <td>{{codigo}}</td>
                        <td>{{nombre}}</td>
                        <td>{{paciente}}</td>
                        <td>{{fecha}}</td>
                        <td>{{caraDiente}}</td>
                        <td>{{importe}}</td>
                        <td>{{matriculaOdontologo}}</td>
                        <td>{{observaciones}}</td>

                        <td>
                            <div class="styles-button">
                                <form action="/treatments/delete/{{_id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-danger" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                        eliminar
                                    </button>
                                </form>
                            </div>
                            <div class="styles-button">
                                
                                    <!--<a href="/treatments/edit/{{_id}}" class="btn btn-primary btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal"></a>-->
                                    <a href="/treatments/edit/{{_id}}" class="btn btn-primary btn btn-success">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path
                                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd"
                                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                            </svg>
                                            Editar
                                    </a>
                                
                            </div>
                        </td>
                    </tr>                              
                    {{/each}}
                    
                </tbody>
            </table>

            <!--<div>
                <p>Hola</p>
                {{#each datosJson}}
                <p>entra</p>
                <p>{{Code}}</p>
                <p>{{Nombre}}</p>
                {{/each}}
            </div>-->

            {{!-- Modal editar --}}
            <!--
             <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="Title" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Title">Editar Tratamiento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/treatments/edit-treatment/{{_id}}?_method=PUT" method="POST">
                            <div class="modal-body">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="form-group">
                                    <label for="codigo" class="form-label">Ingresa el codigo</label>
                                    <input type="text" name="codigo" class="form-control" id="codigo" placeholder="codigo"
                                    value="{{codigo}}"
                                        autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="fecha" class="form-label">Ingrese la fecha</label>
                                    <textarea name="fecha" class="form-control" id="description"
                                        placeholder="fecha" style="margin-top: 3%;">{{fecha}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="caraDiente" class="form-label">Ingrese la cara del diente</label>
                                    <textarea name="caraDiente" id="caraDiente" class="form-control" placeholder="caraDiente"
                                        style="margin-top: 3%;" >{{caraDiente}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="importe" class="form-label">Ingrese el importe</label>
                                    <textarea name="importe" id="importe" class="form-control" placeholder="importe"
                                        style="margin-top: 3%;" >{{importe}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="observaciones" class="form-label">observaciones</label>
                                    <textarea name="observaciones" id="observaciones" class="form-control" placeholder="observaciones"
                                        style="margin-top: 3%;" >{{caraDiente}}</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>-->
            
           

            <!-- Modal Agregar tratamiento -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Nuevo Tratamiento
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="Title" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Title">Nuevo Tratamiento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/treatments/new-treatment" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                <!--<input type="number" name="codigo" class="form-control" placeholder="Codigo..."
                                autofocus>-->
                            </div>
                            <div class="form-group mt-4">
                                <select class="form-select" name="nombre">

                                    {{#each datosJson}}
                                    <option >{{Nombre}}</option>
                                    {{/each}}

                                </select>
                            </div> 
                            <!--<div class="form-group">
                                <textarea name="fecha" class="form-control"
                                placeholder="fecha" style="margin-top: 3%;"></textarea>
                            </div>-->
                            <div class="form-group mt-4">
                                <p>Seleccione una fecha: <input type="text" id="datepicker" name="fecha"></p>
                            </div>
                            <div class="form-group mt-4">
                                <select class="form-select" name="caraDiente">

                                    <option >Distal</option>

                                    <option >Lingual</option>

                                    <option >Mesial</option>

                                    <option >Palatina</option>

                                    <option >Vestibular</option>

                                </select>
                            </div> 
                            <div class="form-group">
                                <textarea name="importe" class="form-control"
                                placeholder="importe..." style="margin-top: 3%;"></textarea>
                            </div>

                            <label > Paciente</label>
                            <div class="form-group mt-4">
                                <select class="form-select" name="paciente">
                                    {{#each pacientes}}
                                    <option >{{dni}}, {{nombre}} {{apellido}}</option>
                                    {{/each}}
                                </select>
                            </div> 
                            
                            <div class="form-group">
                                <textarea name="observaciones" class="form-control"
                                placeholder="observaciones..." style="margin-top: 3%;"></textarea>
                            </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {{!-- Opcion 1 --}}
        <div class="container">
            <div class="row">
                <div class="col">
                    {{!-- <img class="img-fluid" src="/img/boca.png" alt="boca" style="position: absolute; right: 100px; top:200px; width:15%">  --}}
                <div>
                    <img class="img-fluid" src="/img/teeths/Dientes de abajo/paladarinferior3.png"  style="position: fixed; right: 150px; top:520px; width: 250px">
                    {{!-- Dientes de abajo --}}
                    {{!-- Molares izquierdos --}}
                    <button class="boton" style="position: fixed; right: 357px; top:562px; background-color: transparent; border:rgba(0, 0, 0, 0);">
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/molarizquierdo3.png" style="height: 30px; width:35px;">
                    </button>              
                    <button class="boton"  type="submit" style="position: fixed; right: 353px; top:596px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/molarizquierdo2.png" style="height: 30px; width:35px;">
                    </button>
                    <button class="boton"  type="submit" style="position: fixed; right: 347px; top:627px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/molarizquierdo1.png" style="height: 30px; width:35px;">
                    </button>
                    {{!-- Premolares izquierdos --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 339px; top:655px; border-radius: 100px 60px 150px 60px;  background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/premolarizquierdo2.png" style="height: 23px; width:30px;">
                    </button>
                    <button class="boton"  type="submit" style="position: fixed; right: 328px; top:679px; border-radius: 200px 60px 150px 60px;  background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/premolarizquierdo1.png" style="height: 23px; width:25px;">
                    </button>
                    {{!-- Canino izquierdo --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 314px; top:692px; border-radius: 200px 60px 150px 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/caninoizquierdo.png" style="height: 23px; width:20px;">
                    </button>
                    {{!-- Incisivo lateral izquierdo --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 300px; top:700px; border-radius: 170px 150px 60px 50px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/incisivolateralizquierdo.png" style="height: 23px; width:20px;">
                    </button>
                    
                    {{!-- Incisivo central izquierdo --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 283px; top:705px; border-radius: 170px 150px 60px 50px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/incisivocentralizquierdo.png" style="height: 23px; width:15px;">
                    </button>
                    {{!-- Incisivo central derecho --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 262px; top:705px; border-radius: 50px 100px 10px 10px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/incisivocentralderecho.png" style="height: 23px; width:15px;">
                    </button>
                    {{!-- Incisivo lateral derecho --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 235px; top:703px; border-radius: 50px 100px 10px 100px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/incisivolateralderecho.png" style="height: 23px; width:25px;">
                    </button>
                    {{!-- Canino derecho --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 220px; top:695px; border-radius: 50px 100px 10px 100px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/caninoderecho.png" style="height: 23px; width:25px;">
                    </button>
                    {{!-- Premolares derechos --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 200px; top:679px; border-radius: 150px 150px 150px 150px;  background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/premolarderecho2.png" style="height: 23px; width:30px;">
                    </button>
                    <button class="boton"  type="submit" style="position: fixed; right: 186px; top:659px; border-radius: 60px;  background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/premolarderecho1.png" style="height: 23px; width:30px;">
                    </button>
                    {{!-- Molares derechos --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 175px; top:629px; border-radius: 60px;  background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/molarderecho1.png" style="height: 30px; width:35px;">
                    </button>
                    <button class="boton"  type="submit" style="position: fixed; right: 168px; top:595px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/molarderecho2.png" style="height: 30px; width:35px;">
                    </button>
                    <button class="boton"  type="submit" style="position: fixed; right: 163px; top:560px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de abajo/molarderecho3.png" style="height: 30px; width:35px;">
                    </button>
            

                </div>
                    
                <div>
                    <img class="img-fluid" src="/img/teeths/Dientes de arriba/paladararriba3.png"  style="position: fixed; right: 150px; top:280px; width: 250px">
                    {{!-- Dientes de arriba lado izquierdo --}}
                    {{!-- Molares izquierdos--}}
                    <button class="boton"  type="submit" style="position: fixed; right: 348px; top:432px; border-radius: 60px;  background-color: transparent; border-radius:10px; border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/molarizq3.png" style="height: 30px; width:35px;">
                    </button>
                    <button class="boton"  type="submit" style="position: fixed; right: 346px; top:399px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/molarizq2.png" style="height: 30px; width:35px;">
                    </button>
                    <button class="boton"  type="submit" style="position: fixed; right: 338px; top:366px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/molarizq1.png" style="height: 30px; width:35px;">
                    </button>

                    {{!-- Premolares izquierdos--}}
                    <button class="boton"  type="submit" style="position: fixed; right: 328px; top:338px; border-radius: 150px 150px 150px 150px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/premolar2.png" style="height: 23px; width:30px;">
                    </button>
                    <button class="boton"  type="submit" style="position: fixed; right: 317px; top:316px; border-radius: 100px 150px 150px 150px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/premolarizq1.png" style="height: 23px; width:30px;">
                    </button>

                    {{!-- Canino izquierdo --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 309px; top:299px; border-radius: 250px 500px 150px 200px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/caninoizq.png" style="height: 23px; width:20px;">
                    </button>

                    {{!-- Incisivo lateral izquierdo --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 288px; top:291px; border-radius: 250px 250px 250px 500px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/incisivolateralizq.png" style="height: 20px; width:25px;">
                    </button>

                    {{!-- Incisivo central izquierdo --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 267px; top:287px; border-radius: 250px 250px 250px 500px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/incisivocentralizquierdo.png" style="height: 20px; width:25px;">
                    </button>



                    {{!-- Dientes de arriba lado derecho --}}
                    {{!-- Incisivo central derecho --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 240px; top:287px; border-radius: 250px 250px 250px 500px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/incisivocentralderecho.png" style="height: 20px; width:28px;">
                    </button>

                    {{!-- Incisivo lateral derecho --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 220px; top:295px; border-radius: 500px 500px 500px 250px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/incisivolateralder.png" style="height: 20px; width:25px;">
                    </button>

                    {{!-- Canino derecho --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 203px; top:305px; border-radius: 500px 200px 250px 200px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/caninoder.png" style="height: 20px; width:25px;">
                    </button>      

                    {{!-- Premolares derechos --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 190px; top:320px; border-radius: 500px 200px 250px 200px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/premolarder1.png" style="height: 20px; width:28px;">
                    </button>

                    <button class="boton"  type="submit" style="position: fixed; right: 180px; top:340px; border-radius: 150px 150px 150px 150px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/premolarder2.png" style="height: 23px; width:28px;">
                    </button>

                    {{!-- Molares derechos --}}
                    <button class="boton"  type="submit" style="position: fixed; right: 165px; top:368px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/molar1der.png" style="height: 30px; width:35px;">
                    </button>
                    <button class="boton"  type="submit" style="position: fixed; right: 160px; top:400px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/molar2der.png" style="height: 30px; width:35px;">
                    </button>
                    <button class="boton"  type="submit" style="position: fixed; right: 155px; top:433px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);" >
                        <img class="img-fluid" src="/img/teeths/Dientes de arriba/molar3der.png" style="height: 30px; width:35px;">
                    </button> 

                </div>
                                      
                </div>                
            </div>  
        </div>
</div>