<div class="row"> 
    <div class="pb-3 border-color">
        <h1 class="fs-2 text-center ">Tratamientos</h1>
    </div>
    <div class="d-flex align-items-center">
        <div class="table-responsive col-9 table-Color">
            <table class="table table-primary border-white text-center">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Tratamiento</th>
                        <th>DNI Paciente</th>
                        <th>Fecha</th>
                        <th>Cara</th>
                        <th>Importe</th>
                        <th>Matricula del Odontólogo</th>
                        <th>Observaciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each treatments}}
                    <tr>
                        <td>{{codigo}}</td>
                        <td>{{nombre}}</td>
                        <td>{{paciente}}</td>
                        <td>{{fecha}}</td>
                        <td>{{caraDiente}}</td>
                        <td>{{importe}}</td>
                        <td>{{matriculaOdontologo}}</td>
                        <td>{{observaciones}}</td>

                        <td>
                            <div class="styles-button">
                                <form action="/treatments/delete/{{_id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-danger" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                        eliminar
                                    </button>
                                </form>
                            </div>
                            <div class="styles-button">
                                
                                    <!--<a href="/treatments/edit/{{_id}}" class="btn btn-primary btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal"></a>-->
                                    <a href="/treatments/edit/{{_id}}" class="btn btn-primary btn btn-success">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path
                                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd"
                                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                            </svg>
                                            Editar
                                    </a>
                                
                            </div>
                        </td>
                    </tr>                              
                    {{/each}}
                    
                </tbody>
            </table>

            <!--<div>
                <p>Hola</p>
                {{#each datosJson}}
                <p>entra</p>
                <p>{{Code}}</p>
                <p>{{Nombre}}</p>
                {{/each}}
            </div>-->

            {{!-- Modal editar --}}
            <!--
             <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="Title" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Title">Editar Tratamiento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/treatments/edit-treatment/{{_id}}?_method=PUT" method="POST">
                            <div class="modal-body">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="form-group">
                                    <label for="codigo" class="form-label">Ingresa el codigo</label>
                                    <input type="text" name="codigo" class="form-control" id="codigo" placeholder="codigo"
                                    value="{{codigo}}"
                                        autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="fecha" class="form-label">Ingrese la fecha</label>
                                    <textarea name="fecha" class="form-control" id="description"
                                        placeholder="fecha" style="margin-top: 3%;">{{fecha}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="caraDiente" class="form-label">Ingrese la cara del diente</label>
                                    <textarea name="caraDiente" id="caraDiente" class="form-control" placeholder="caraDiente"
                                        style="margin-top: 3%;" >{{caraDiente}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="importe" class="form-label">Ingrese el importe</label>
                                    <textarea name="importe" id="importe" class="form-control" placeholder="importe"
                                        style="margin-top: 3%;" >{{importe}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="observaciones" class="form-label">observaciones</label>
                                    <textarea name="observaciones" id="observaciones" class="form-control" placeholder="observaciones"
                                        style="margin-top: 3%;" >{{caraDiente}}</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>-->
            
           

            <!-- Modal Agregar tratamiento -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Nuevo Tratamiento
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="Title" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Title">Nuevo Tratamiento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/treatments/new-treatment" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                <!--<input type="number" name="codigo" class="form-control" placeholder="Codigo..."
                                autofocus>-->
                            </div>
                            <div class="form-group mt-4">
                                <select class="form-select" name="nombre">

                                    {{#each datosJson}}
                                    <option >{{Nombre}}</option>
                                    {{/each}}

                                </select>
                            </div> 
                            <!--<div class="form-group">
                                <textarea name="fecha" class="form-control"
                                placeholder="fecha" style="margin-top: 3%;"></textarea>
                            </div>-->
                            <div class="form-group mt-4">
                                <p>Seleccione una fecha: <input type="text" id="datepicker" name="fecha"></p>
                            </div>
                            <div class="form-group mt-4">
                                <select class="form-select" name="caraDiente">

                                    <option >Distal</option>

                                    <option >Lingual</option>

                                    <option >Mesial</option>

                                    <option >Palatina</option>

                                    <option >Vestibular</option>

                                </select>
                            </div> 
                            <div class="form-group">
                                <textarea name="importe" class="form-control"
                                placeholder="importe..." style="margin-top: 3%;"></textarea>
                            </div>

                            <label > Paciente</label>
                            <div class="form-group mt-4">
                                <select class="form-select" name="paciente">
                                    {{#each pacientes}}
                                    <option >{{dni}}, {{nombre}} {{apellido}}</option>
                                    {{/each}}
                                </select>
                            </div> 
                            
                            <div class="form-group">
                                <textarea name="observaciones" class="form-control"
                                placeholder="observaciones..." style="margin-top: 3%;"></textarea>
                            </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="/img/boca.png" alt="boca" height="500" width="100%">

            {{!-- Dientes de abajo --}}
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:-90px; top:-200px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px; " ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:-55px; top:-165px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:-25px; top:-134px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:0px; top:-105px; border-radius: 150px 150px 150px 150px; height: 23px; width:30px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:18px; top:-83px; border-radius: 100px 60px 150px 60px; height: 23px; width:30px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:31px; top:-73px; border-radius: 200px 60px 150px 60px; height: 23px; width:15px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:43px; top:-65px; border-radius: 200px 60px 150px 60px; height: 23px; width:15px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:53px; top:-60px; border-radius: 170px 150px 60px 50px; height: 23px; width:25px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:60px; top:-60px; border-radius: 170px 150px 60px 50px; height: 23px; width:15px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:68px; top:-65px; border-radius: 50px 100px 10px 10px; height: 23px; width:15px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:78px; top:-70px; border-radius: 50px 100px 10px 100px; height: 23px; width:15px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:88px; top:-83px; border-radius: 50px 100px 10px 100px; height: 23px; width:15px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:105px; top:-105px; border-radius: 150px 150px 150px 150px; height: 23px; width:30px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:130px; top:-135px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:-315px; top:-195px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:-280px; top:-230px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px;" ></button>


             {{!-- Dientes de arriba --}}
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:-10px; top:-348px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:24px; top:-379px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:55px; top:-414px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:80px; top:-442px; border-radius: 150px 150px 150px 150px; height: 23px; width:30px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:98px; top:-463px; border-radius: 100px 150px 150px 150px; height: 23px; width:30px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:114px; top:-480px; border-radius: 250px 500px 150px 200px; height: 23px; width:30px; background-color: transparent; border-radius:10px;" ></button>           
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:129px; top:-485px; border-radius: 250px 250px 250px 500px; height: 20px; width:30px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:138px; top:-488px; border-radius: 250px 250px 250px 500px; height: 20px; width:30px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:145px; top:-488px; border-radius: 250px 250px 250px 500px; height: 20px; width:30px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:155px; top:-488px; border-radius: 500px 500px 500px 250px; height: 20px; width:30px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:175px; top:-478px; border-radius: 500px 200px 250px 200px; height: 20px; width:30px; background-color: transparent; border-radius:10px;" ></button>        
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:-280px; top:-493px; border-radius: 500px 200px 250px 200px; height: 20px; width:30px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:-260px; top:-473px; border-radius: 150px 150px 150px 150px; height: 23px; width:30px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:-235px; top:-444px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:-205px; top:-410px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px;" ></button>
            <button class="btn btn-secondary"  type="submit" style="position: relative; right:-170px; top:-378px; border-radius: 60px; height: 30px; width:35px; background-color: transparent; border-radius:10px;" ></button>
        </div>
    </div>
    
</div>