<div>
    <div class="row d-print-none ">
        <h1 class="fs-2 text-center border-color ">Intervenciones</h1>
        <div class="d-flex align-items-center">
            <div class="table-responsive col-9">
                <table class="table table-striped table-light table-hover mt-5">
                    <thead class="table-Color">
                        <tr>
                            <th>Código</th>
                            <th>Tratamiento</th>
                            <th>Nº Diente</th>
                            <th>DNI</th>
                            <th>Fecha</th>
                            <th>Cara</th>
                            <th>Importe</th>
                            <th>Matricula</th>
                            <th>Observaciones</th>
                            {{#if esOdontologo}}
                            <th></th>
                            {{/if}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each treatments}}
                        <tr>
                            <td>{{codigo}}</td>
                            <td>{{nombre}}</td>
                            <td>{{nroDiente}}</td>
                            <td>{{paciente}}</td>
                            <td>{{fecha}}</td>
                            <td>{{caraDiente}}</td>
                            <td>{{importe}}</td>
                            <td>{{matriculaOdontologo}}</td>
                            <td>{{observaciones}}</td>
                            {{#if ../esOdontologo}}
                            <td>
                                <div class="styles-button">
                                    <form action="/treatments/delete/{{_id}}?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="btn btn-outline-danger btn-sm" type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="text-dark" width="16"
                                                height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd"
                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                                <div class="styles-button">

                                    <!--<a href="/treatments/edit/{{_id}}" class="btn btn-primary btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal"></a>-->
                                    <a href="/treatments/edit/{{_id}}" class="btn btn-outline-success btn-sm ">
                                        <svg class="text-dark" xmlns="http://www.w3.org/2000/svg" width="16" height="25"
                                            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </a>

                                </div>
                            </td>
                            {{/if}}
                        </tr>
                        {{/each}}


                    </tbody>
                </table>

                </tbody>
                </table>


            </div>

        </div>
    </div>

    {{!-- Dientes --}}
    <div class="d-print-none" style="float:right; margin-right: 100px; margin-top: -230px;">
        <div class="row">
            <div class="col">
                {{!-- <img class="img-fluid" src="/img/boca.png" alt="boca"
                    style="position: absolute; right: 100px; top:200px; width:15%"> --}}
                <div>
                    <img class="img-fluid" src="/img/teeths/Dientes de arriba/paladararriba3.png"
                        style="position: absolute; right: 110px; top:199px; width: 250px">
                    <img class="img-fluid" src="/img/teeths/Dientes de abajo/paladarinferior3.png"
                        style="position: absolute; right: 110px; top:435px; width: 250px;">

                    {{!-- Dientes de arriba --}}
                    <div class="container">
                        {{!-- Dientes de arriba lado izquierdo --}}
                        {{!-- Molares izquierdos--}}
                        {{!--Diente 1--}}

                        {{#each dniPacienteSeleccionado}}

                        <form action="/users/historias-clinicas/{{dni}}/treatments/1" method="GET">
                            <input type="hidden">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 310px; top:353px; border-radius: 60px;  background-color: transparent; border-radius:10px; border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/molarizq3.png"
                                    style="height: 30px; width:35px;">
                            </button>
                        </form>

                        {{!-- Diente 2 --}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/2" method="GET">
                            <input type="hidden" name="nroDiente" value="2">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 305px; top:318px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/molarizq2.png"
                                    style="height: 30px; width:35px;">
                            </button>
                        </form>
                        {{!--Diente 3--}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/3" method="GET">
                            <input type="hidden" name="nroDiente" value="3">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 300px; top:286px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/molarizq1.png"
                                    style="height: 30px; width:35px;">
                            </button>
                        </form>
                        {{!-- Premolares izquierdos--}}
                        {{!--Diente 4--}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/4" method="GET">
                            <input type="hidden" name="nroDiente" value="4">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 290px; top:260px; border-radius: 150px 150px 150px 150px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/premolar2.png"
                                    style="height: 23px; width:30px;">
                            </button>
                        </form>
                        {{!--Diente 5--}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/5" method="GET">
                            <input type="hidden" name="nroDiente" value="5">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 280px; top:235px; border-radius: 100px 150px 150px 150px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/premolarizq1.png"
                                    style="height: 23px; width:30px;">
                            </button>
                        </form>
                        {{!-- Canino izquierdo --}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/6" method="GET">
                            <input type="hidden" name="nroDiente" value="6">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 270px; top:220px; border-radius: 250px 500px 150px 200px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/caninoizq.png"
                                    style="height: 23px; width:20px;">
                            </button>
                        </form>
                        {{!-- Incisivo lateral izquierdo --}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/7" method="GET">
                            <input type="hidden" name="nroDiente" value="7">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 249px; top:212px; border-radius: 250px 250px 250px 500px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/incisivolateralizq.png"
                                    style="height: 20px; width:25px;">
                            </button>
                        </form>
                        {{!-- Incisivo central izquierdo --}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/8" method="GET">
                            <input type="hidden" name="nroDiente" value="8">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 229px; top:208px; border-radius: 250px 250px 250px 500px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/incisivocentralizquierdo.png"
                                    style="height: 20px; width:25px;">
                            </button>
                        </form>


                        {{!-- Dientes de arriba lado derecho --}}
                        {{!-- Incisivo central derecho --}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/9" method="GET">
                            <input type="hidden" name="nroDiente" value="9">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 204px; top:208px; border-radius: 250px 250px 250px 500px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/incisivocentralderecho.png"
                                    style="height: 20px; width:28px;">
                            </button>
                        </form>
                        {{!-- Incisivo lateral derecho --}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/10" method="GET">
                            <input type="hidden" name="nroDiente" value="10">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 184px; top:215px; border-radius: 500px 500px 500px 250px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/incisivolateralder.png"
                                    style="height: 20px; width:25px;">
                            </button>
                        </form>
                        {{!-- Canino derecho --}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/11" method="GET">
                            <input type="hidden" name="nroDiente" value="11">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 169px; top:225px; border-radius: 500px 200px 250px 200px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/caninoder.png"
                                    style="height: 20px; width:25px;">
                            </button>
                        </form>
                        {{!-- Premolares derechos --}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/12" method="GET">
                            <input type="hidden" name="nroDiente" value="12">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 155px; top:235px; border-radius: 500px 200px 250px 200px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/premolarder1.png"
                                    style="height: 20px; width:28px;">
                            </button>
                        </form>
                        <form action="/users/historias-clinicas/{{dni}}/treatments/13" method="GET">
                            <input type="hidden" name="nroDiente" value="13">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 145px; top:255px; border-radius: 150px 150px 150px 150px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/premolarder2.png"
                                    style="height: 23px; width:28px;">
                            </button>
                        </form>
                        {{!-- Molares derechos --}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/14" method="GET">
                            <input type="hidden" name="nroDiente" value="14">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 130px; top:285px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/molar1der.png"
                                    style="height: 30px; width:35px;">
                            </button>
                        </form>
                        <form action="/users/historias-clinicas/{{dni}}/treatments/15" method="GET">
                            <input type="hidden" name="nroDiente" value="15">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 123px; top:318px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/molar2der.png"
                                    style="height: 30px; width:35px;">
                            </button>
                        </form>
                        {{!--Diente 16--}}
                        <form action="/users/historias-clinicas/{{dni}}/treatments/16" method="GET">
                            <input type="hidden" name="nroDiente" value="16">
                            <button class="boton" type="submit"
                                style="position: absolute; right: 118px; top:352px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                <img class="img-fluid" src="/img/teeths/Dientes de arriba/molar3der.png"
                                    style="height: 30px; width:35px;">
                            </button>
                        </form>
                    </div>

                    {{!-- Dientes de abajo--}}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div>
                                    {{!-- Dientes de abajo --}}
                                    {{!-- Molares izquierdos --}}
                                    {{!--Diente 32--}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/32" method="GET">
                                        <input type="hidden" name="nroDiente" value="32">
                                        <button type="submit" class="boton"
                                            style="position: absolute; right: 318px; top:472px; background-color: transparent; border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/molarizquierdo3.png"
                                                style="height: 30px; width:35px;">
                                        </button>
                                    </form>
                                    {{!--Diente 31--}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/31" method="GET">
                                        <input type="hidden" name="nroDiente" value="31">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 315px; top:505px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/molarizquierdo2.png"
                                                style="height: 30px; width:35px;">
                                        </button>
                                    </form>
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/30" method="GET">
                                        <input type="hidden" name="nroDiente" value="30">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 308px; top:539px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/molarizquierdo1.png"
                                                style="height: 30px; width:35px;">
                                        </button>
                                    </form>
                                    {{!-- Premolares izquierdos --}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/29" method="GET">
                                        <input type="hidden" name="nroDiente" value="29">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 300px; top:569px; border-radius: 100px 60px 150px 60px;  background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/premolarizquierdo2.png"
                                                style="height: 23px; width:30px;">
                                        </button>
                                    </form>
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/28" method="GET">
                                        <input type="hidden" name="nroDiente" value="28">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 289px; top:590px; border-radius: 200px 60px 150px 60px;  background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/premolarizquierdo1.png"
                                                style="height: 23px; width:25px;">
                                        </button>
                                    </form>
                                    {{!-- Canino izquierdo --}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/27" method="GET">
                                        <input type="hidden" name="nroDiente" value="27">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 275px; top:600px; border-radius: 200px 60px 150px 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/caninoizquierdo.png"
                                                style="height: 23px; width:20px;">
                                        </button>
                                    </form>
                                    {{!-- Incisivo lateral izquierdo --}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/26" method="GET">
                                        <input type="hidden" name="nroDiente" value="26">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 260px; top:610px; border-radius: 170px 150px 60px 50px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/incisivolateralizquierdo.png"
                                                style="height: 23px; width:20px;">
                                        </button>
                                    </form>

                                    {{!-- Incisivo central izquierdo --}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/25" method="GET">
                                        <input type="hidden" name="nroDiente" value="25">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 245px; top:615px; border-radius: 170px 150px 60px 50px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/incisivocentralizquierdo.png"
                                                style="height: 23px; width:15px;">
                                        </button>
                                    </form>
                                    {{!-- Incisivo central derecho --}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/24" method="GET">
                                        <input type="hidden" name="nroDiente" value="24">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 225px; top:615px; border-radius: 50px 100px 10px 10px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/incisivocentralderecho.png"
                                                style="height: 23px; width:15px;">
                                        </button>
                                    </form>
                                    {{!-- Incisivo lateral derecho --}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/23" method="GET">
                                        <input type="hidden" name="nroDiente" value="23">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 198px; top:615px; border-radius: 50px 100px 10px 100px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/incisivolateralderecho.png"
                                                style="height: 23px; width:25px;">
                                        </button>
                                    </form>
                                    {{!-- Canino derecho --}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/22" method="GET">
                                        <input type="hidden" name="nroDiente" value="22">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 180px; top:607px; border-radius: 50px 100px 10px 100px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid" src="/img/teeths/Dientes de abajo/caninoderecho.png"
                                                style="height: 23px; width:25px;">
                                        </button>
                                    </form>
                                    {{!-- Premolares derechos --}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/21" method="GET">
                                        <input type="hidden" name="nroDiente" value="21">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 163px; top:592px; border-radius: 150px 150px 150px 150px;  background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/premolarderecho2.png"
                                                style="height: 23px; width:30px;">
                                        </button>
                                    </form>
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/20" method="GET">
                                        <input type="hidden" name="nroDiente" value="20">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 150px; top:570px; border-radius: 60px;  background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid"
                                                src="/img/teeths/Dientes de abajo/premolarderecho1.png"
                                                style="height: 23px; width:30px;">
                                        </button>
                                    </form>
                                    {{!-- Molares derechos --}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/19" method="GET">
                                        <input type="hidden" name="nroDiente" value="19">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 137px; top:540px; border-radius: 60px;  background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid" src="/img/teeths/Dientes de abajo/molarderecho1.png"
                                                style="height: 30px; width:35px;">
                                        </button>
                                    </form>
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/18" method="GET">
                                        <input type="hidden" name="nroDiente" value="18">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 130px; top:507px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid" src="/img/teeths/Dientes de abajo/molarderecho2.png"
                                                style="height: 30px; width:35px;">
                                        </button>
                                    </form>
                                    {{!--Diente 17--}}
                                    <form action="/users/historias-clinicas/{{dni}}/treatments/17" method="GET">
                                        <input type="hidden" name="nroDiente" value="17">
                                        <button class="boton" type="submit"
                                            style="position: absolute; right: 125px; top:475px; border-radius: 60px; background-color: transparent; border-radius:10px;border:rgba(0, 0, 0, 0);">
                                            <img class="img-fluid" src="/img/teeths/Dientes de abajo/molarderecho3.png"
                                                style="height: 30px; width:35px;">
                                        </button>
                                    </form>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

<button class="d-print-none btn btn-light btn-sm" type="button" name="imprimir" value="Imprimir"
    onclick="window.print();">Imprimir odontograma</button>

{{!-- Imprimir odontograma --}}

{{!-- Para las ausencias dentales: Se utiliza una X de color azul
si la pieza requiere extracción se realiza una X de color rojo.
Cuando hay una caries se indica con un punteado rojo
Cuando la pieza tiene ya una obturación (empaste) previa, se señala con un sombreado azul,
misma obturación requiere de un nuevo tratamiento de obturación se señala la zona con un círculo rojo.
endodoncia se señala una X de color rojo en la raíz del diente y cuando existe una endodoncia hecha se señala en la raíz
con una X azul.
Cuando hay una corona se realiza un círculo azul alrededor de la pieza.
Cuando hay que poner un puente fijo se rodea con un círculo rojo
en póntico se rodea en azul y todo se incluye dentro de corchetes.
Si en la radiografía se observa caries esta se colorea de verde.
Las piezas que comiencen a erupcionar se señalan con una flecha azul hacia arriba si está abajo y hacia abajo si está en
la arcada de arriba.
Cuando una pieza ha sufrido un traumatismo se señala con una T.--}}
<div class="d-block d-sm-none">
    <table class="table table-sm d-sm-none">
        <thead>
            <h1>Nombre del paciente</h1>
        </thead>
        <div style="margin-top: 80px;">
  {{!-- Primera fila --}}
        <tbody class="border border-primary">
            <div id="diente-1">
                <h3 style="margin-left: 20px; position: absolute;">18</h3>
                <h3 style="margin-left: 90px; position: absolute">17</h3>
                {{!-- diferencias entre los margenes es de 70 --}}
                <h3 style="margin-left: 160px; position: absolute">16</h3>
                <h3 style="margin-left: 230px; position: absolute">15</h3>
                <h3 style="margin-left: 300px; position: absolute">14</h3>
                <h3 style="margin-left: 370px; position: absolute">13</h3>
                <h3 style="margin-left: 440px; position: absolute">12</h3>
                <h3 style="margin-left: 510px; position: absolute">11</h3>

                <h3 style="margin-left: 580px; position: absolute">21</h3>
                <h3 style="margin-left: 650px; position: absolute">22</h3>
                <h3 style="margin-left: 720px; position: absolute">23</h3>
                <h3 style="margin-left: 790px; position: absolute">24</h3>
                <h3 style="margin-left: 860px; position: absolute">25</h3>
                <h3 style="margin-left: 930px; position: absolute">26</h3>
                <h3 style="margin-left: 1000px; position: absolute">27</h3>
                <h3 style="margin-left: 1070px;">28</h3>

                 <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-2" style="margin-left: 70px;">
                 <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-3" style="margin-left: 140px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-4" style="margin-left: 210px;">
                 <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-5" style="margin-left: 280px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-6" style="margin-left: 350px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-7" style="margin-left: 420px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-8" style="margin-left: 490px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-9" style="margin-left: 560px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-10" style="margin-left: 630px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-11" style="margin-left: 700px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-12" style="margin-left: 770px;">
            <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-13" style="margin-left: 840px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-14" style="margin-left: 910px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>


            <div id="diente-15" style="margin-left: 980px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>


            <div id="diente-16" style="margin-left: 1050px;">
                 <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

        </tbody> 

        {{!-- Segunda fila --}}
        <tbody >            
            <div id="diente-4" style="margin-left: 210px; margin-top: 90px">
                {{!-- diferencias entre los margenes es de 70 --}}
                <h3 style="margin-left: 20px; position: absolute;">55</h3>
                <h3 style="margin-left: 90px; position: absolute">54</h3>
                <h3 style="margin-left: 160px; position: absolute">53</h3>
                <h3 style="margin-left: 230px; position: absolute">52</h3>
                <h3 style="margin-left: 300px; position: absolute">51</h3>

                <h3 style="margin-left: 370px; position: absolute">61</h3>
                <h3 style="margin-left: 440px; position: absolute">62</h3>
                <h3 style="margin-left: 510px; position: absolute">63</h3>
                <h3 style="margin-left: 580px; position: absolute">64</h3>               
                <h3 style="margin-left: 650px;">65</h3>


                 <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>            

            <div id="diente-5" style="margin-left: 280px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-6" style="margin-left: 350px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-7" style="margin-left: 420px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-8" style="margin-left: 490px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-9" style="margin-left: 560px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-10" style="margin-left: 630px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-11" style="margin-left: 700px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-12" style="margin-left: 770px;">
            <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-13" style="margin-left: 840px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>
        </tbody>

        {{!-- Tercera fila --}}
        <tbody>
            <div id="diente-4" style="margin-left: 210px; margin-top: 90px;">
                {{!-- diferencias entre los margenes es de 70 --}}
                <h3 style="margin-left: 20px; position: absolute;">85</h3>
                <h3 style="margin-left: 90px; position: absolute">84</h3>
                <h3 style="margin-left: 160px; position: absolute">83</h3>
                <h3 style="margin-left: 230px; position: absolute">82</h3>
                <h3 style="margin-left: 300px; position: absolute">81</h3>

                <h3 style="margin-left: 370px; position: absolute">71</h3>
                <h3 style="margin-left: 440px; position: absolute">72</h3>
                <h3 style="margin-left: 510px; position: absolute">73</h3>
                <h3 style="margin-left: 580px; position: absolute">74</h3>               
                <h3 style="margin-left: 650px;">75</h3>

                 <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-5" style="margin-left: 280px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-6" style="margin-left: 350px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-7" style="margin-left: 420px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-8" style="margin-left: 490px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-9" style="margin-left: 560px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-10" style="margin-left: 630px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-11" style="margin-left: 700px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-12" style="margin-left: 770px;">
            <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-13" style="margin-left: 840px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>
        </tbody>

        {{!-- Cuarta fila --}}
        <tbody>
             <div id="diente-1" style="margin-top: 90px;">
                <h3 style="margin-left: 20px; position: absolute;">48</h3>
                <h3 style="margin-left: 90px; position: absolute">47</h3>
                {{!-- diferencias entre los margenes es de 70 --}}
                <h3 style="margin-left: 160px; position: absolute">46</h3>
                <h3 style="margin-left: 230px; position: absolute">45</h3>
                <h3 style="margin-left: 300px; position: absolute">44</h3>
                <h3 style="margin-left: 370px; position: absolute">43</h3>
                <h3 style="margin-left: 440px; position: absolute">42</h3>
                <h3 style="margin-left: 510px; position: absolute">41</h3>

                <h3 style="margin-left: 580px; position: absolute">31</h3>
                <h3 style="margin-left: 650px; position: absolute">32</h3>
                <h3 style="margin-left: 720px; position: absolute">33</h3>
                <h3 style="margin-left: 790px; position: absolute">34</h3>
                <h3 style="margin-left: 860px; position: absolute">35</h3>
                <h3 style="margin-left: 930px; position: absolute">36</h3>
                <h3 style="margin-left: 1000px; position: absolute">37</h3>
                <h3 style="margin-left: 1070px;">38</h3>

                 <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

             <div id="diente-2" style="margin-left: 70px;">
                 <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-3" style="margin-left: 140px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-4" style="margin-left: 210px;">
                 <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-5" style="margin-left: 280px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-6" style="margin-left: 350px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-7" style="margin-left: 420px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-8" style="margin-left: 490px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-9" style="margin-left: 560px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-10" style="margin-left: 630px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-11" style="margin-left: 700px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-12" style="margin-left: 770px;">
            <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-13" style="margin-left: 840px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>

            <div id="diente-14" style="margin-left: 910px;">
                   <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>


            <div id="diente-15" style="margin-left: 980px;">
                  <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>


            <div id="diente-16" style="margin-left: 1050px;">
                <img src="/img/teeths/Odontograma/arriba.png"
                    style="width: 42px; height: 12px; position: absolute; margin-left: 10px; margin-top: 10px">
                <img src="/img/teeths/Odontograma/izquierda.png"
                    style="width: 23px; height: 35px; position: absolute; margin-top: 15px">
                <img src="/img/teeths/Odontograma/derecha.png"
                    style="width: 23px; height: 35px; position: absolute; margin-left: 36px; margin-top: 15px">
                <img src="/img/teeths/Odontograma/abajo2.png"
                    style="width: 57px; height: 13px; position: absolute; margin-left: 1px; margin-top: 42px;">
            </div>
        </tbody>

        </div>
    </table>

    <div style="margin-top: 150px;">
        <table class="table table-striped table-light table-hover mt-5" >
                <thead class="table-Color">
                    <tr>
                        <th>Código</th>
                        <th>Tratamiento</th>
                        <th>Nº Diente</th>
                        <th>Fecha</th>
                        <th>Cara</th>
                        <th>Importe</th>
                        <th>Matricula</th>
                        <th>Observaciones</th>
                        {{#if esOdontologo}}
                        <th></th>
                        {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#each treatments}}
                    <tr>
                        <td>{{codigo}}</td>
                        <td>{{nombre}}</td>
                        <td>{{nroDiente}}</td>
                        <td>{{fecha}}</td>
                        <td>{{caraDiente}}</td>
                        <td>{{importe}}</td>
                        <td>{{matriculaOdontologo}}</td>
                        <td>{{observaciones}}</td>
                        {{#if ../esOdontologo}}
                        <td>
                            <div class="styles-button">
                                <form action="/treatments/delete/{{_id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-outline-danger btn-sm" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-dark" width="16" height="25"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                            <div class="styles-button">

                                <!--<a href="/treatments/edit/{{_id}}" class="btn btn-primary btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal"></a>-->
                                <a href="/treatments/edit/{{_id}}" class="btn btn-outline-success btn-sm ">
                                    <svg class="text-dark" xmlns="http://www.w3.org/2000/svg" width="16" height="25"
                                        fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </a>

                            </div>
                        </td>
                        {{/if}}
                    </tr>
                    {{/each}}

                </tbody>
        </table>
    </div>
</div>