<div class="container">
    <div class="panel panel-primary d-print-none" style="background-color: White;">
        <div class="panel-heading" style="background-color: orange;">
            <h3 class="panel-title">Información General</h3>
        </div>
        <div class="panel-body">
            <ul id="listado">
                
                <li id="nombre">
                    Apellido: {{historia_clinica_paciente.apellido}}
                </li>
                
                <li>
                   Nombre: {{historia_clinica_paciente.nombre}}
                </li>
                <li>
                    Numero de Afiliado: {{historia_clinica_paciente.numeroAfiliado}}
                </li>
                <li>
                   Fecha de nacimiento: {{historia_clinica_paciente.fechaCumpleanios}}
                </li>
                <li>
                   e-mail: {{historia_clinica_paciente.email}}
                </li>
                <li>
                   Nro telefono: {{historia_clinica_paciente.telefono}}
                </li>
                <li>
                   Obra Social: {{historia_clinica_paciente.obraSocial}}
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-primary d-print-none" style="background-color: White;">
        <div class="panel-heading" style="background-color: orange;">
            <h3 class="panel-title">Datos de Domicilio</h3>
        </div>
        <div class="panel-body" >
            <ul>
                
                <li>
                    Calle: {{historia_clinica_paciente.calle}}
                </li>
                <li>
                   Numero: {{historia_clinica_paciente.numeroCalle}}
                </li>
                <li>
                    Piso: {{historia_clinica_paciente.piso}}
                </li>
                <li>
                  Depto:  {{historia_clinica_paciente.departamento}}
                </li>
                <li>
                   localidad: {{historia_clinica_paciente.localidad}}
                </li>

            </ul>
        </div>
    </div>

    <form>
        <input class="d-print-none btn btn-light btn-sm" type="button" name="imprimir" value="Imprimir" onclick="window.print();">   
    </form>

    <a class="d-print-none" href="/users/historias-clinicas/{{historia_clinica_paciente.dni}}/treatments">Ver Tratamientos</a>
    

{{!-- Esto es lo que se ve al momento de imprimir --}}
    <div class="d-block d-sm-none">

        <p class="h1 text-center">Historia Clinica</p>


    <table class="table table-sm d-sm-none">
    <thead>
        <tr>
            <th class="border-primary" scope="col">Informacion General</th>
        </tr>
    </thead>
  <tbody class="border border-primary ">
    <tr>
      <th scope="row">Apellido</th>
      <td>{{historia_clinica_paciente.apellido}} </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Nombre</th>
      <td>{{historia_clinica_paciente.nombre}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Numero de Afiliado</th>
      <td>{{historia_clinica_paciente.numeroAfiliado}} </td>
      <td></td>     
    </tr>
    <tr>
      <th scope="row">Fecha de nacimiento</th>
      <td>{{historia_clinica_paciente.fechaCumpleanios}}</td>
      <td></td>     
    </tr>
    <tr>
      <th scope="row">e-mail</th>
      <td>{{historia_clinica_paciente.email}}</td>
      <td></td>     
    </tr>
    <tr>
      <th scope="row">Nro telefono</th>
      <td>{{historia_clinica_paciente.telefono}}</td>
      <td></td>     
    </tr>
    <tr>
      <th scope="row"> Obra Social</th>
      <td>{{historia_clinica_paciente.obraSocial}}</td>
      <td></td>     
    </tr>
  </tbody>
</table>

<table class="table table-sm d-sm-none">
    <thead>
        <tr>
            <th class="border-primary" scope="col">Datos de Domicilio</th>
        </tr>
    </thead>
  <tbody class="border border-primary">
    <tr>
      <th scope="row">Calle</th>
      <td>{{historia_clinica_paciente.calle}}</td>
     
    </tr>
    <tr>
      <th scope="row">Numero</th>
      <td>{{historia_clinica_paciente.numeroCalle}}</td>
      
    </tr>
    <tr>
      <th scope="row">Piso</th>
      <td>{{historia_clinica_paciente.piso}}</td>
     
    </tr>
    <tr>
      <th scope="row">Depto</th>
      <td>{{historia_clinica_paciente.departamento}}</td>
      
    </tr>
    <tr>
      <th scope="row">Localidad</th>
      <td>{{historia_clinica_paciente.localidad}}</td>
     
    </tr>
     </tbody>
</table>



    <table class="table table-striped table-light table-hover mt-6">
                    <thead class="table-Color">
                        <tr>
                            <th>Tratamiento</th>
                            <th>Nº Diente</th>
                            <th>Fecha</th>
                            <th>Cara</th>
                            <th>Importe</th>
                            <th>Observaciones</th>
                            {{#if esOdontologo}}
                            <th></th>
                            {{/if}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each treatments}}
                        <tr>
                            <td>{{nombre}}</td>
                            <td>{{nroDiente}}</td>
                            <td>{{fecha}}</td>
                            <td>{{caraDiente}}</td>
                            <td>{{importe}}</td>
                            <td>{{observaciones}}</td>
                        </tr>
                        {{/each}}


                </tbody>
            </table>


    </div>

    
</div>