<div class="container">
    <div class="panel panel-primary" style="background-color: White;">
        <div class="panel-heading" style="background-color: #438FA2;">
            <h3 class="panel-title">Información General</h3>
        </div>
        <div class="panel-body" >
            <ul>
                
                <li>
                    Apellido: {{historia_clinica_paciente.apellido}}
                </li>
                
                <li>
                   Nombre: {{historia_clinica_paciente.nombre}}
                </li>
                <li>
                    Numero de Afiliado: {{historia_clinica_paciente.numeroAfiliado}}
                </li>
                <li>
                   Fecha de nacimiento: {{historia_clinica_paciente.fechaCumpleanios}}
                </li>
                <li>
                   e-mail: {{historia_clinica_paciente.email}}
                </li>
                <li>
                   Nro telefono: {{historia_clinica_paciente.telefono}}
                </li>
                <li>
                   Obra Social: {{historia_clinica_paciente.obraSocial}}
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-primary" style="background-color: White;">
        <div class="panel-heading" style="background-color: orange;">
            <h3 class="panel-title">Datos de Domicilio</h3>
        </div>
        <div class="panel-body" >
            <ul>
                
                <li>
                    Calle: {{historia_clinica_paciente.calle}}
                </li>
                <li>
                   Numero: {{historia_clinica_paciente.numeroCalle}}
                </li>
                <li>
                    Piso: {{historia_clinica_paciente.piso}}
                </li>
                <li>
                  Depto:  {{historia_clinica_paciente.departamento}}
                </li>
                <li>
                   localidad: {{historia_clinica_paciente.localidad}}
                </li>
                
            </ul>
        </div>
    </div>
</div>